<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!link href="{{ url_for('static',filename='SIOT.css') }}" rel="stylesheet" />
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.css" rel="stylesheet">
    <style>
       body {
        padding: 50px;
        border: 1px;
        width: 800px;
        margin: auto;
        }
        .middle{
            align:center
        }
        .divider {
            width: 75px;
            height: 7px;
            background-color: #1ed760;
            margin-bottom: 20px;
        }
         .divider2 {
            width: 75px;
            height: 7px;
            margin-bottom: 20px;
        }

        .color-spgreen{
        color: #1ed760
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      // You can now initialize Spotify.Player and use the SDK
    };
    </script>

</head>

<body>
    <div class="Leah">

        <div class="alert alert-info" role="alert">This project uses the <a href="https://beta.developer.spotify.com/documentation/web-api/reference/browse/get-recommendations/">Spotify API</a> and <a href="https://beta.developer.spotify.com/documentation/web-playback-sdk/">Web Playback SDK.</a>
        Weather predictions powered by <a href="https://darksky.net/dev/docs">Dark Sky.</a> </div>
        <div id="notice"></div>

        <div class="inline space-after">
          <h3 style="font-size:60px">
              Whatever the Weather
              <span class="color-spgreen">.</span>
          </h3>
        </div>
        <div class="divider"></div>
        <p> Wouldn't it be (n)ice if you could listen to music that fits the weather outside?
            We're here for you! Just let us know the current location of your ears by clicking on the button below!
        </p>
        <div align="center" class="space-after">
        <form action="/test/" method="post">
            <button name = "forwardBtn" class = "btn btn-aubergine space-after small">Get weather near you</button>
        </form>

        <div class="space-after">
        {%if humidity %}
           <p>It looks like it's a {{sum}} where you are!<br/>
           Now make a playlist!</p>

        {% else %}
        <div align="center" class="space-after">
        <p>No weather data entered! Click to load. </p>
        </div>
        {% endif %}
        </div>

        <form action="/forward" method="post">
             <button class="btn btn-aubergine btn-lg space-after" name="forwardBtn" type="submit">Make Playlist</button>
        </form>
        </div>
        <div class="divider2"></div>
        {%if lol%}
            <div align="center" class="space-after">
                <iframe src="https://open.spotify.com/embed/user/1117981227/playlist/{{prediction}}" width="500" height="200" frameborder="40" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        {% else %}
        <div align="center" class="space-after">
            <p>No weather data entered! Click to load. </p>
        </div>
        {% endif %}
    </div><!-- /.body -->


    <script type=text/javascript>
        $(function() {
          $('a#play').bind('click', function() {
            $.getJSON('/forward',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>

     <script type=text/javascript>
        $(function() {
          $('a#cal').bind('click', function() {
            $.getJSON('/test',
                function(data) {
                //do nothing
            });
            return false;
          });
        });
    </script>


    <script src="./client.js"></script>
</body>
</html>
